:root{
  --primary-color: #36454F;
  --secondary-color: white;
  --success-color: rgb(5, 149, 5);
  --action-color: #028ae1;;
  --error-color: rgb(161, 0, 0);
  --text-size-normal: 12px;
  --text-size-large: 14px;
  --text-size-huge: 16px;
  --text-size-super-huge: 22px;
}

html{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
