.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.simple-page{
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    row-gap: 32px;
}

.simple-page-title{
    font-size: var(--text-size-super-huge);
    color: var(--primary-color);
    font-weight: bold;
}

.simple-page-content{
    background-color: white;
    padding: 42px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    width: 22%;
}

header{
    background-color: var(--primary-color);
    padding: 16px 0px 16px 32px;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 32px;
    font-weight: 800;
}

.header-actions{
    margin-right: 32px;
    display: flex;
    column-gap: 16px;
}

nav{
    background-color: #7393B3;
    padding: 14px 12px;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 500;
}

.navigation-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-item-text{
    color: var(--primary-color);
    font-weight: 800;
}

.navigation-item-icon{
    font-size: 32px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: var(--secondary-color);
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#navigation-content{
    width: 90%;
    background-color: var(--secondary-color);    
}

footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 32px;
    font-size: 20px;
    font-weight: 400;
}